<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587296728624-8nb5fedik0lbr4vha8sjrk3csqnbu2eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587296728624-8nb5fedik0lbr4vha8sjrk3csqnbu2eb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587296728624-2962119ol2pvkc5fk7uv5eg863tvi46g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv_U4DAL_pqmnkpVqBaPhl78W2PK3HmHM</string>
	<key>GCM_SENDER_ID</key>
	<string>587296728624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.encommeShop</string>
	<key>PROJECT_ID</key>
	<string>marketing-store-c1e6f</string>
	<key>STORAGE_BUCKET</key>
	<string>marketing-store-c1e6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587296728624:ios:0f1374ffd4ac6db618eff5</string>
</dict>
</plist>